.help-btn button{
    position: absolute;
    top: 25px;
    right: 25px;
    border-radius: 2px;
    border: none;
    background: #c61d1d;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Modal Overlay */
.help-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dim the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1004;
}

/* Modal Content */
.help-modal-content {
    background: white;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    max-height: 80%;
    overflow-y: auto; /* Enable scrolling */
    padding: 20px;
    position: relative;
    z-index: 1005;
}

/* Modal Header */
.help-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Close Button */
.help-modal-content .close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    color: #444;
    margin-top: 0px;
}

.help-modal-content .close-btn:hover {
    color: red;
}

/* Modal Body */
.help-modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto; /* Make content scrollable */
}

/* Modal Role Items */
.helplist {
    margin-bottom: 15px;
}

.helplist h4 {
    margin: 0;
    font-size: 1.2rem;
}

.helplist p {
    margin: 5px 0 0;
    font-size: 0.9rem;
    color: #555;
}

.voting-container {
    position: relative;
    align-self: center;
    width: 300px;
    height: 200px;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .voting-header {
    align-self: center;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .voting-players-container {
    flex-grow: 1;
    overflow-y: auto; /* Make the player list scrollable */
    margin-bottom: 10px;
  }
  
  .voting-players-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .voting-player-name {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  .submit-btn {
    width: fit-content;
    border: none;
    align-self: center;
    background: black;
    color: red;
    padding: 10px 20px;
    font-size: 14px;
  }
